body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_handgesture_name ,#result_handgesture_name2  
{
  color: rgb(255, 235, 235);
}
.gesture_name
{
  font-size: 40px;
}
.handgesture
{
  font-size:48px;
}